.feedback_wrapper {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   width: 700px;
   border: 2px solid black;
   background-color: aliceblue;
   padding: 30px 20px;
}
.feedback_title {
   font-size: 34px;
   margin: 20px;
}
.like {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
   flex: 1;
}
.likeBtn{
   width: 170px;
}
.dislike {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
}
.dislikeBtn{
   width: 100%;
}
.status {
   border-radius: 12px;
   border: 2px solid blue;
   padding: 20px 30px;
   font-size: 30px;
   font-weight: 600;
   color: white;
   background-color: aqua;
}
.reset_btn {
   width: 280px;
}